.bubble__maps {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-size: 1.25em;
	padding-top: 2em;
	transition: all 0.4s ease-in-out;
	height: 70vh;
}

.iframe__error {
	color: red;
	font-size: 1.5em;
}

.iframeBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.iframeBlock.fade-in {
	animation: fadeInAnimation 0.4s forwards;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.iframeInner {
	position: relative;
	z-index: 101;
	box-shadow: 0 0 100px rgba(117, 0, 167, 0.25);
	width: 90%;
	height: 90%;
}

.open__btn {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, transform 0.2s;
	margin-top: 15px;
}

.open__btn:hover {
	background-color: #45a049;
	transform: scale(1.05);
}

.close__btn {
	content: 'Close BubbleMaps';
	position: absolute;
	top: -7%;
	font-size: 1.5em;
	right: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.close__btn:hover {
	color: rgb(179, 0, 255);
}

.external__link {
	display: block;
	margin-top: 10px;
	color: #007bff;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}

.external__link:hover {
	color: #0056b3;
}

.iframeContent {
	width: 100%;
	height: 100%;
}

.iframe__closed-message {
	display: flex;
	align-items: center;
	column-gap: 2em;
}

.iframe__btn-openIframe,
.bubblesMap__link {
	cursor: pointer;
	color: aliceblue;
	transition: all 0.3s ease-in-out;
}

.iframe__btn-openIframe:hover,
.bubblesMap__link:hover {
	color: violet;
}
