.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0 1em 4.5em;
	color: #ffffff;
	transition: background-color 0.3s ease;
}

.header__title {
	display: inline-block;
	position: relative;
	font-size: 1.25rem;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
}

.light {
	position: relative;
	display: inline-block;
	animation: light 2s linear infinite;
}

@keyframes light {
	0% {
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
	}
	50% {
		text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
	}
	100% {
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
	}
}

.header__logo {
	position: relative;
	z-index: 3;
	width: 3rem;
	height: 3rem;
	animation: rotate-jump 5s infinite;
	perspective: 1000px;
	margin-left: 1em;
}

@keyframes rotate-jump {
	0% {
		transform: translateY(0);
	}
	2.5% {
		transform: translateY(-0.5px);
	}
	5% {
		transform: translateY(-1px);
	}
	7.5% {
		transform: translateY(-1.5px);
	}
	10% {
		transform: translateY(-2px);
	}
	12.5% {
		transform: translateY(-2.5px);
	}
	15% {
		transform: translateY(-3px);
	}
	17.5% {
		transform: translateY(-3.5px);
	}
	20% {
		transform: translateY(-4px);
	}
	22.5% {
		transform: translateY(-4.5px);
	}
	25% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}
