@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@import './normalize.css';
@import './loading.css';
@import './WaitingContract.css';
@import './app.css';
@import './form.css';
@import './header.css';
@import './DexScreener.css';
@import './TopHoldersBlock.css';
@import './AdditionalInfoBlock.css';
@import './defi.css';
@import './RugCheck.css';
@import './BubbleMaps.css';
@import './Meteora.css';
@import './media.css';

body {
	font-family: 'Orbitron', sans-serif;
	color: #ffffff;
	background-color: rgb(15, 15, 16);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

ul,
ol {
	list-style-type: none;
}

button {
	border: 0;
	outline: 0;
}

a {
	text-decoration: none;
}

.sections__list {
	display: flex;
	flex-direction: column;
}

.request__result {
	position: relative;
	z-index: -1001;
	transform: translateY(500%);
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.request__result--active {
	position: relative;
	z-index: 1;
	transform: translateY(0%);
	opacity: 1;
	height: 100%;
}

body::-webkit-scrollbar {
	width: 5px;
}
body::-webkit-scrollbar-track {
	background-color: rgb(69, 0, 133);
}
body::-webkit-scrollbar-thumb {
	background-color: rgb(130, 56, 199);
	border-radius: 20px;
}
