@import './normalize.css';
@import './form.css';
@import './header.css';
@import './DexScreener.css';

body {
	font-family: 'Space Mono', serif;
	font-weight: 400;
	font-style: normal;
	background-color: black;
	overflow-x: hidden;
}

.main video {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	opacity: 0.5;
}

ul,
ol {
	list-style-type: none;
}
