@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@import './normalize.css';
@import './app.css';
@import './form.css';
@import './header.css';
@import './DexScreener.css';
@import './rugcheck.css';
@import './rugcheck2.css';

body {
	font-family: 'Orbitron', sans-serif;
	color: #ffffff;
	background-color: black;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.video {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	opacity: 0.5;
}

ul,
ol {
	list-style-type: none;
}

button {
	border: 0;
	outline: 0;
}
