.loading__block {
	text-align: center;
}

.loading-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	text-align: center;
	column-gap: 1em;
	font-size: 1.5em;
}

.loadingCircle {
	width: 24px;
	height: 24px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.serviceLink--DexScreener {
	color: aliceblue;
	transition: all 0.3s ease-in-out;
}

.serviceLink--DexScreener:hover {
	color: royalblue;
}
