.loading-indicator--rugcheck {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	text-align: center;
	column-gap: 1em;
	font-size: 1.5em;
	color: #32cd32;
}

.loadingCircle {
	width: 24px;
	height: 24px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rug-check-wrapper {
	display: flex;
	align-items: flex-start;
	column-gap: 2em;
	padding: 50px 25px 50px 25px;
	width: 100%;
}

.rug-check-left {
	width: 50%;
}

.rug-check-left ul {
	display: flex;
	flex-direction: column;
	row-gap: 1.5em;
}

.rug-check-right {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.risk-item {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 1em;
	padding: 1em;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.risk-item.danger {
	box-shadow: 0 0 15px rgb(245, 57, 57);
}

.risk-item.warn {
	box-shadow: 0 0 15px rgb(245, 190, 88);
}

.risk-item.empty-item {
	flex-basis: 50%;
	justify-self: center;
	font-size: 1.5em;
	color: rgb(161, 244, 19);
}

.risk-item.empty-item strong {
	display: inline-block;
	margin-inline: auto;
}

.risk-title {
	font-size: 1.5em;
}

.warn__title {
	color: rgb(245, 190, 88);
}

.danger__title {
	color: rgb(245, 57, 57);
}

.risk-desc {
	font-size: 1em;
	color: aliceblue;
}

.final-risk {
	text-align: center;
	font-weight: bold;
	padding: 1em;
	border-radius: 5px;
	color: aliceblue;
	font-size: 18px;
}

.risk-analysis {
	display: flex;
	align-items: center;
	column-gap: 1em;
}

.final-risk.danger {
	background-color: rgb(245, 57, 57);
	color: black;
}

.risk-analysis.danger .rugcheck__link {
	padding: 0.5em 1em;
	outline: 1px solid black;
	color: black;
}

.final-risk.warn {
	background-color: rgb(245, 190, 88);
	color: black;
}

.risk-analysis.empty-risk {
	padding: 2em;
	background-color: rgb(161, 244, 19);
	color: black;
}

.risk-analysis .rugcheck__link {
	padding: 0.5em 1em;
	outline: 1px solid black;
	color: black;
	transition: all 0.3s ease-in-out;
}

.final-risk.good {
	background-color: rgb(161, 244, 19);
	color: black;
}

.risk-analysis--status {
	font-size: 1.5em;
	font-style: italic;
}

.final-risk.empty-risks {
	background-color: rgb(161, 244, 19);
	color: black;
}

.final-risk.empty-risks .rugcheck__link {
	padding: 0.5em 1em;
	outline: 1px solid black;
	text-decoration: none;
	color: black;
	transition: all 0.3s ease-in-out;
}

.risk-analysis .rugcheck__link:hover,
.final-risk.empty-risks .rugcheck__link:hover {
	background-color: rgb(62, 47, 227);
	color: aliceblue;
	outline: none;
}
